In [1]:
import numpy as np
import pandas as pd
np.set_printoptions(precision=4)

In [3]:
import pandas as pd

draft1 = pd.read_csv(r'G:\DatascienceProjects\examples_datasets\ex1.csv')    #datset path

draft1.head(2)

   a  b  c  d message
0  1  2  3  4   hello
1  5  6  7  8   world

In [4]:
draft2 = pd.read_table(r'G:\DatascienceProjects\examples_datasets\test.tsv')

In [5]:
draft2

        test   test test.1 test.2 test.3
sudh    sudh   sudh   sudh   sudh   sudh
kumar  kumar  kumar  kumar  kumar  kumar

In [6]:
df = pd.read_csv(r'G:\DatascienceProjects\examples_datasets\test.tsv')
df

              test\t test\ttest\ttest\ttest
0        sudh\tsudh\tsudh\tsudh\tsudh\tsudh
1  kumar\tkumar\tkumar\tkumar\tkumar\tkumar

In [7]:
pd.read_table(r'G:\DatascienceProjects\examples_datasets\ex1.csv', sep=',')

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

In [8]:
pd.read_csv(r'G:\DatascienceProjects\examples_datasets\ex2.csv', header=None)

   0   1   2   3      4
0  1   2   3   4  hello
1  5   6   7   8  world
2  9  10  11  12    foo

In [9]:
df =pd.read_csv(r'G:\DatascienceProjects\examples_datasets\ex2.csv', names=['Ganga','fsdf', 'b', 'c', 'sudh', 'message'])
type(df)

pandas.core.frame.DataFrame

In [10]:
df

   Ganga  fsdf   b   c   sudh  message
0      1     2   3   4  hello      NaN
1      5     6   7   8  world      NaN
2      9    10  11  12    foo      NaN

In [11]:
!cat /G:/DatascienceProjects/examples_datasets/csv_mindex.csv

'cat' is not recognized as an internal or external command,
operable program or batch file.

In [12]:

parsed = pd.read_csv(r'G:\DatascienceProjects\examples_datasets\csv_mindex.csv',
                     index_col=['key1', 'key2'])

In [13]:
parsed1 = pd.read_csv(r'G:\DatascienceProjects\examples_datasets\csv_mindex.csv')

In [14]:
parsed1

  key1 key2  value1  value2
0  one    a       1       2
1  one    b       3       4
2  one    c       5       6
3  one    d       7       8
4  two    a       9      10
5  two    b      11      12
6  two    c      13      14
7  two    d      15      16

In [15]:
parsed

           value1  value2
key1 key2
one  a          1       2
     b          3       4
     c          5       6
     d          7       8
two  a          9      10
     b         11      12
     c         13      14
     d         15      16

In [16]:

skip_df = pd.read_csv(r'G:\DatascienceProjects\examples_datasets\ex4.csv', skiprows=[0, 2, 3])

In [17]:
skip_df

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

In [18]:
skip_df1 = pd.read_csv(r'G:\DatascienceProjects\examples_datasets\ex4.csv')

In [19]:
skip_df1

                                                                      # hey!
a                                                  b        c   d    message
# just wanted to make things more difficult for... NaN      NaN NaN      NaN
# who reads CSV files with computers                anyway? NaN NaN      NaN
1                                                  2        3   4      hello
5                                                  6        7   8      world
9                                                  10       11  12       foo

In [20]:

result = pd.read_csv(r'G:\DatascienceProjects\examples_datasets\ex5.csv')
result
pd.isnull(result)

   something      a      b      c      d  message
0      False  False  False  False  False     True
1      False  False  False   True  False    False
2      False  False  False  False  False    False

In [21]:
result = pd.read_csv(r'G:\DatascienceProjects\examples_datasets\ex5.csv', na_values=['NULL'])
result

  something  a   b     c   d message
0       one  1   2   3.0   4     NaN
1       two  5   6   NaN   8   world
2     three  9  10  11.0  12     foo

In [31]:
draft3 = pd.read_excel(r'G:\DatascienceProjects\examples_datasets\transactions.xlsx', sheet_name = 'Expense') # Name of sheet to read from
#pd.read_excel()
draft3.head(3)

   product_id  product count  expense
0        1001              1     5.95
1        1002              2     6.95
2        1003              3     7.95

In [32]:
url = "http://www.basketball-reference.com/leagues/NBA_2015_totals.html"

BB_data = pd.read_html(url)         # Read data from the specified url

#BB_data[0].ix[:, 0:20].head(5) 
# Check 5 rows (10 columns only)

In [33]:
BB_data

[      Rk          Player Pos Age   Tm   G  GS    MP   FG  FGA  ...   FT%  ORB  \
 0      1      Quincy Acy  PF  24  NYK  68  22  1287  152  331  ...  .784   79
 1      2    Jordan Adams  SG  20  MEM  30   0   248   35   86  ...  .609    9
 2      3    Steven Adams   C  21  OKC  70  67  1771  217  399  ...  .502  199
 3      4     Jeff Adrien  PF  28  MIN  17   0   215   19   44  ...  .579   23
 4      5   Arron Afflalo  SG  29  TOT  78  72  2502  375  884  ...  .843   27
 ..   ...             ...  ..  ..  ...  ..  ..   ...  ...  ...  ...   ...  ...
 670  490  Thaddeus Young  PF  26  TOT  76  68  2434  451  968  ...  .655  127
 671  490  Thaddeus Young  PF  26  MIN  48  48  1605  289  641  ...  .682   75
 672  490  Thaddeus Young  PF  26  BRK  28  20   829  162  327  ...  .606   52
 673  491     Cody Zeller   C  22  CHO  62  45  1487  172  373  ...  .774   97
 674  492    Tyler Zeller   C  25  BOS  82  59  1731  340  619  ...  .823  146

      DRB  TRB  AST  STL BLK  TOV   PF   PTS
 0    222  301   68   27  22   60  147   398
 1     19   28   16   16   7   14   24    94
 2    324  523   66   38  86   99  222   537
 3     54   77   15    4   9    9   30    60
 4    220  247  129   41   7  116  167  1035
 ..   ...  ...  ...  ...  ..  ...  ...   ...
 670  284  411  173  124  25  117  171  1071
 671  170  245  135   86  17   75  115   685
 672  114  166   38   38   8   42   56   386
 673  265  362  100   34  49   62  156   472
 674  319  465  113   18  52   76  205   833

 [675 rows x 30 columns]]

In [34]:
BB_data[0]

,Rk,Player,Pos,Age,Tm,G,GS,MP,FG,FGA,...,FT%,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS
0,1,Quincy Acy,PF,24,NYK,68,22,1287,152,331,...,.784,79,222,301,68,27,22,60,147,398
1,2,Jordan Adams,SG,20,MEM,30,0,248,35,86,...,.609,9,19,28,16,16,7,14,24,94
2,3,Steven Adams,C,21,OKC,70,67,1771,217,399,...,.502,199,324,523,66,38,86,99,222,537
3,4,Jeff Adrien,PF,28,MIN,17,0,215,19,44,...,.579,23,54,77,15,4,9,9,30,60
4,5,Arron Afflalo,SG,29,TOT,78,72,2502,375,884,...,.843,27,220,247,129,41,7,116,167,1035
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
670,490,Thaddeus Young,PF,26,TOT,76,68,2434,451,968,...,.655,127,284,411,173,124,25,117,171,1071
671,490,Thaddeus Young,PF,26,MIN,48,48,1605,289,641,...,.682,75,170,245,135,86,17,75,115,685
672,490,Thaddeus Young,PF,26,BRK,28,20,829,162,327,...,.606,52,114,166,38,38,8,42,56,386
673,491,Cody Zeller,C,22,CHO,62,45,1487,172,373,...,.774,97,265,362,100,34,49,62,156,472
674,492,Tyler Zeller,C,25,BOS,82,59,1731,340,619,...,.823,146,319,465,113,18,52,76,205,833

In [35]:
type(BB_data)

list

In [36]:
type(BB_data[0])

pandas.core.frame.DataFrame

In [37]:
titanic_train = pd.read_csv("https://gist.githubusercontent.com/michhar/2dfd2de0d4f8727f873422c5d959fff5/raw/ff414a1bcfcba32481e4d4e8db578e55872a2ca1/titanic.csv",
                           sep='\t')

In [39]:
titanic_train.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [40]:
titanic_train.head(10)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
5,6,0,3,"Moran, Mr. James",male,NaN,0,0,330877,8.4583,NaN,Q
6,7,0,1,"McCarthy, Mr. Timothy J",male,54.0,0,0,17463,51.8625,E46,S
7,8,0,3,"Palsson, Master. Gosta Leonard",male,2.0,3,1,349909,21.0750,NaN,S
8,9,1,3,"Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)",female,27.0,0,2,347742,11.1333,NaN,S
9,10,1,2,"Nasser, Mrs. Nicholas (Adele Achem)",female,14.0,1,0,237736,30.0708,NaN,C

In [41]:
titanic_train[["Name","Pclass"]].head()

                                                Name  Pclass
0                            Braund, Mr. Owen Harris       3
1  Cumings, Mrs. John Bradley (Florence Briggs Th...       1
2                             Heikkinen, Miss. Laina       3
3       Futrelle, Mrs. Jacques Heath (Lily May Peel)       1
4                           Allen, Mr. William Henry       3

In [43]:
titanic_train['Pclass']

0      3
1      1
2      3
3      1
4      3
      ..
151    1
152    3
153    3
154    3
155    1
Name: Pclass, Length: 156, dtype: int64

In [44]:
type(titanic_train['Pclass'])

pandas.core.series.Series

In [45]:
type(titanic_train[["Name","Pclass"]])

pandas.core.frame.DataFrame

In [42]:
titanic_train.dtypes

PassengerId      int64
Survived         int64
Pclass           int64
Name            object
Sex             object
Age            float64
SibSp            int64
Parch            int64
Ticket          object
Fare           float64
Cabin           object
Embarked        object
dtype: object

In [46]:
pd.options.display.max_rows = 10

In [50]:
result = pd.read_csv(r'G:\DatascienceProjects\examples_datasets\ex6.csv')
result

           one       two     three      four key
0     0.467976 -0.038649 -0.295344 -1.824726   L
1    -0.358893  1.404453  0.704965 -0.200638   B
2    -0.501840  0.659254 -0.421691 -0.057688   G
3     0.204886  1.074134  1.388361 -0.982404   R
4     0.354628 -0.133116  0.283763 -0.837063   Q
...        ...       ...       ...       ...  ..
9995  2.311896 -0.417070 -1.409599 -0.515821   L
9996 -0.479893 -0.650419  0.745152 -0.646038   E
9997  0.523331  0.787112  0.486066  1.093156   K
9998 -0.362559  0.598894 -1.843201  0.887292   G
9999 -0.096376 -1.012999 -0.657431 -0.573315   0

[10000 rows x 5 columns]

In [52]:
pd.read_csv(r'G:\DatascienceProjects\examples_datasets\ex6.csv', nrows=7)

        one       two     three      four key
0  0.467976 -0.038649 -0.295344 -1.824726   L
1 -0.358893  1.404453  0.704965 -0.200638   B
2 -0.501840  0.659254 -0.421691 -0.057688   G
3  0.204886  1.074134  1.388361 -0.982404   R
4  0.354628 -0.133116  0.283763 -0.837063   Q
5  1.817480  0.742273  0.419395 -2.251035   Q
6 -0.776764  0.935518 -0.332872 -1.875641   U

In [53]:
chunk = pd.read_csv(r'G:\DatascienceProjects\examples_datasets\ex6.csv', chunksize=1000)
chunk

Writing Data to Text Format

In [54]:
data = pd.read_csv(r'G:\DatascienceProjects\examples_datasets\ex5.csv')
data

  something  a   b     c   d message
0       one  1   2   3.0   4     NaN
1       two  5   6   NaN   8   world
2     three  9  10  11.0  12     foo

In [55]:
data.to_csv(r'G:\DatascienceProjects\examples_datasets\out.csv')
#!cat r'G:\DatascienceProjects\examples_datasets\out.csv

In [56]:
import sys
data.to_csv(r'G:\DatascienceProjects\examples_datasets\out1.csv', sep='@')

In [57]:
data.to_csv(sys.stdout, na_rep='NULL')

,something,a,b,c,d,message
0,one,1,2,3.0,4,NULL
1,two,5,6,NULL,8,world
2,three,9,10,11.0,12,foo

In [58]:
data.to_csv(r'G:\DatascienceProjects\examples_datasets\out2.csv', index=False, header=False)

In [59]:
data.to_csv(r'G:\DatascienceProjects\examples_datasets\out3.csv', index=False, columns=['a', 'b', 'c'])

In [60]:
pwd

'C:\\Users\\Gangadhara Mathyam\\Downloads'

In [109]:
dates = pd.date_range('1/1/2000', periods=7)
ts = pd.Series(np.arange(7), index=dates)
ts.to_csv(r'G:\DatascienceProjects\examples_datasets\tseries.csv')
#!cat r'G:\DatascienceProjects\examples_datasets\tseries.csv

2000-01-01,0
2000-01-02,1
2000-01-03,2
2000-01-04,3
2000-01-05,4
2000-01-06,5
2000-01-07,6

In [62]:
dates1 = pd.date_range('11/06/2020', periods=7)

In [63]:
dates1

DatetimeIndex(['2020-11-06', '2020-11-07', '2020-11-08', '2020-11-09',
               '2020-11-10', '2020-11-11', '2020-11-12'],
              dtype='datetime64[ns]', freq='D')

Working with Delimited Formats

In [7]:
import csv
f = open(r'G:\DatascienceProjects\examples_datasets\ex7.csv')

reader = csv.reader(f)
reader
for i in f:
    print(i)

"a","b","c"

"1","2","3"

"1","2","3"

In [6]:
for i in f:
    print(i)

In [3]:
import csv
f = open()
reader= csv.reader(f)
for line in reader:
    print(line)

In [4]:
for line in reader:
    print(line)

['a', 'b', 'c']
['1', '2', '3']
['1', '2', '3']

In [113]:
with open(r'G:\DatascienceProjects\examples_datasets\ex7.csv') as f:
    lines = list(csv.reader(f))

In [114]:
header, values = lines[0], lines[1:]

In [34]:
data_dict = {h: v for h, v in zip(header, zip(*values))}
data_dict

{'a': ('1', '1'), 'b': ('2', '2'), 'c': ('3', '3')}

JSON Data

In [12]:
obj = """
{"name": "Wes",
 "places_lived": ["United States", "Spain", "Germany"],
 "pet": null,
 "siblings": [{"name": "Scott", "age": 30, "pets": ["Zeus", "Zuko"]},
              {"name": "Katie", "age": 38,
               "pets": ["Sixes", "Stache", "Cisco", "Ganga"]}]
}
"""

In [13]:
import json
result = json.loads(obj)
result

{'name': 'Wes',
 'places_lived': ['United States', 'Spain', 'Germany'],
 'pet': None,
 'siblings': [{'name': 'Scott', 'age': 30, 'pets': ['Zeus', 'Zuko']},
  {'name': 'Katie', 'age': 38, 'pets': ['Sixes', 'Stache', 'Cisco', 'Ganga']}]}

In [14]:
asjson = json.dumps(result)

In [15]:
siblings = pd.DataFrame(result['siblings'], columns=['name', 'age','pets'])
siblings

    name  age                           pets
0  Scott   30                   [Zeus, Zuko]
1  Katie   38  [Sixes, Stache, Cisco, Ganga]

In [16]:
!cat r'G:\DatascienceProjects\examples_datasets\example.json

'cat' is not recognized as an internal or external command,
operable program or batch file.

In [17]:
data = pd.read_json(r'G:\DatascienceProjects\examples_datasets\example.json')
data

   a  b  c
0  1  2  3
1  4  5  6
2  7  8  9

In [19]:
print(data.to_json())
print(data.to_json(orient='records'))

{"a":{"0":1,"1":4,"2":7},"b":{"0":2,"1":5,"2":8},"c":{"0":3,"1":6,"2":9}}
[{"a":1,"b":2,"c":3},{"a":4,"b":5,"c":6},{"a":7,"b":8,"c":9}]

XML and HTML: Web Scraping

In [20]:
tables = pd.read_html(r'G:\DatascienceProjects\examples_datasets\fdic_failed_bank_list.html')
len(tables)
failures = tables[0]
failures.head()

,Bank Name,City,ST,CERT,Acquiring Institution,Closing Date,Updated Date
0,Allied Bank,Mulberry,AR,91,Today's Bank,"September 23, 2016","November 17, 2016"
1,The Woodbury Banking Company,Woodbury,GA,11297,United Bank,"August 19, 2016","November 17, 2016"
2,First CornerStone Bank,King of Prussia,PA,35312,First-Citizens Bank & Trust Company,"May 6, 2016","September 6, 2016"
3,Trust Company Bank,Memphis,TN,9956,The Bank of Fayette County,"April 29, 2016","September 6, 2016"
4,North Milwaukee State Bank,Milwaukee,WI,20364,First-Citizens Bank & Trust Company,"March 11, 2016","June 16, 2016"

In [22]:
close_timestamps = pd.to_datetime(failures['Closing Date'])
close_timestamps.dt.year.value_counts()
#close_timestamps

2010    157
2009    140
2011     92
2012     51
2008     25
2013     24
2014     18
2002     11
2015      8
2016      5
2004      4
2001      4
2007      3
2003      3
2000      2
Name: Closing Date, dtype: int64

# Binary Data Formats

In [2]:
frame = pd.read_csv(r'G:\DatascienceProjects\examples_datasets\ex1.csv')
frame
frame.to_pickle(r'G:\DatascienceProjects\examples_datasets\frame_pickle')

In [3]:
frame

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

In [4]:
pd.read_pickle(r'G:\DatascienceProjects\examples_datasets\frame_pickle')

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

In [5]:
!rm r'G:\DatascienceProjects\examples_datasets\frame_pickle

'rm' is not recognized as an internal or external command,
operable program or batch file.

Using HDF5 Format

In [6]:
frame = pd.DataFrame({'a': np.random.randn(100)})
store = pd.HDFStore('mydata.h5')
store['obj1'] = frame
store['obj1_col'] = frame['a']
store

<class 'pandas.io.pytables.HDFStore'>
File path: mydata.h5

In [7]:
store['obj1']

           a
0  -0.466568
1  -0.929852
2   1.450905
3   0.134789
4   1.278284
..       ...
95  0.356186
96  1.447618
97  1.106122
98 -0.281425
99  1.171364

[100 rows x 1 columns]

In [8]:
store.put('obj2', frame, format='table')
store.select('obj2', where=['index >= 10 and index <= 15'])
store.close()

In [9]:
frame.to_hdf('mydata.h5', 'obj3', format='table')
pd.read_hdf('mydata.h5', 'obj3', where=['index < 5'])

          a
0 -0.466568
1 -0.929852
2  1.450905
3  0.134789
4  1.278284

# Web APIs

In [10]:
import requests
url = 'https://api.github.com/repos/pandas-dev/pandas/issues'
resp = requests.get(url)
resp

In [11]:
resp

In [12]:
data = resp.json()
data[2]['user']

{'login': 'jbrockmendel',
 'id': 8078968,
 'node_id': 'MDQ6VXNlcjgwNzg5Njg=',
 'avatar_url': 'https://avatars1.githubusercontent.com/u/8078968?v=4',
 'gravatar_id': '',
 'url': 'https://api.github.com/users/jbrockmendel',
 'html_url': 'https://github.com/jbrockmendel',
 'followers_url': 'https://api.github.com/users/jbrockmendel/followers',
 'following_url': 'https://api.github.com/users/jbrockmendel/following{/other_user}',
 'gists_url': 'https://api.github.com/users/jbrockmendel/gists{/gist_id}',
 'starred_url': 'https://api.github.com/users/jbrockmendel/starred{/owner}{/repo}',
 'subscriptions_url': 'https://api.github.com/users/jbrockmendel/subscriptions',
 'organizations_url': 'https://api.github.com/users/jbrockmendel/orgs',
 'repos_url': 'https://api.github.com/users/jbrockmendel/repos',
 'events_url': 'https://api.github.com/users/jbrockmendel/events{/privacy}',
 'received_events_url': 'https://api.github.com/users/jbrockmendel/received_events',
 'type': 'User',
 'site_admin': False}

In [14]:
data

[{'url': 'https://api.github.com/repos/pandas-dev/pandas/issues/34840',
  'repository_url': 'https://api.github.com/repos/pandas-dev/pandas',
  'labels_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/34840/labels{/name}',
  'comments_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/34840/comments',
  'events_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/34840/events',
  'html_url': 'https://github.com/pandas-dev/pandas/issues/34840',
  'id': 640157637,
  'node_id': 'MDU6SXNzdWU2NDAxNTc2Mzc=',
  'number': 34840,
  'title': 'ENH: Use of NamedTuple instead of Tuple for MultiIndex',
  'user': {'login': 'yohplala',
   'id': 13206058,
   'node_id': 'MDQ6VXNlcjEzMjA2MDU4',
   'avatar_url': 'https://avatars2.githubusercontent.com/u/13206058?v=4',
   'gravatar_id': '',
   'url': 'https://api.github.com/users/yohplala',
   'html_url': 'https://github.com/yohplala',
   'followers_url': 'https://api.github.com/users/yohplala/followers',
   'following_url': 'https://api.github.com/users/yohplala/following{/other_user}',
   'gists_url': 'https://api.github.com/users/yohplala/gists{/gist_id}',
   'starred_url': 'https://api.github.com/users/yohplala/starred{/owner}{/repo}',
   'subscriptions_url': 'https://api.github.com/users/yohplala/subscriptions',
   'organizations_url': 'https://api.github.com/users/yohplala/orgs',
   'repos_url': 'https://api.github.com/users/yohplala/repos',
   'events_url': 'https://api.github.com/users/yohplala/events{/privacy}',
   'received_events_url': 'https://api.github.com/users/yohplala/received_events',
   'type': 'User',
   'site_admin': False},
  'labels': [{'id': 76812,
    'node_id': 'MDU6TGFiZWw3NjgxMg==',
    'url': 'https://api.github.com/repos/pandas-dev/pandas/labels/Enhancement',
    'name': 'Enhancement',
    'color': '4E9A06',
    'default': False,
    'description': None},
   {'id': 1954720290,
    'node_id': 'MDU6TGFiZWwxOTU0NzIwMjkw',
    'url': 'https://api.github.com/repos/pandas-dev/pandas/labels/Needs%20Triage',
    'name': 'Needs Triage',
    'color': '0052cc',
    'default': False,
    'description': 'Issue that has not been reviewed by a pandas team member'}],
  'state': 'open',
  'locked': False,
  'assignee': None,
  'assignees': [],
  'milestone': None,
  'comments': 0,
  'created_at': '2020-06-17T05:41:22Z',
  'updated_at': '2020-06-17T05:42:30Z',
  'closed_at': None,
  'author_association': 'NONE',
  'active_lock_reason': None,
  'body': "#### Is your feature request related to a problem?\r\n\r\nSimply from an ergonomic point of view, when using MultiIndex, it would be worth using a list of NamedTuple instead of Tuple, so that level name can be directly used to call index values.\r\n\r\n#### Describe the solution you'd like\r\n\r\nCurrently,\r\n\r\n```python\r\nimport pandas as pd\r\nmidx = pd.MultiIndex.from_product([['value1','value2'],[1]], names=['level1','level2'])\r\ndf = pd.DataFrame(0,index=[1,2],columns=midx)\r\nf.columns[0]['level1']\r\n```\r\nreturns:\r\n```python\r\nTypeError: tuple indices must be integers or slices, not str\r\n```\r\n\r\nWould this be a NamedTuple, this would return the correct result: 'value1'\r\nBests,\r\n\r\nPS: and thanks for your awesome work!"},
 {'url': 'https://api.github.com/repos/pandas-dev/pandas/issues/34839',
  'repository_url': 'https://api.github.com/repos/pandas-dev/pandas',
  'labels_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/34839/labels{/name}',
  'comments_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/34839/comments',
  'events_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/34839/events',
  'html_url': 'https://github.com/pandas-dev/pandas/pull/34839',
  'id': 640150072,
  'node_id': 'MDExOlB1bGxSZXF1ZXN0NDM1NjA5ODMz',
  'number': 34839,
  'title': 'WIP: ENH: Add support for calculating EWMA with a time component',
  'user': {'login': 'mroeschke',
   'id': 10647082,
   'node_id': 'MDQ6VXNlcjEwNjQ3MDgy',
   'avatar_url': 'https://avatars0.githubusercontent.com/u/10647082?v=4',
   'gravatar_id': '',
   'url': 'https://api.github.com/users/mroeschke',
   'html_url': 'https://github.com/mroeschke',
   'followers_url': 'https://api.github.com/users/mroeschke/followers',
   'following_url': 'https://api.github.com/users/mroeschke/following{/other_user}',
   'gists_url': 'https://api.github.com/users/mroeschke/gists{/gist_id}',
   'starred_url': 'https://api.github.com/users/mroeschke/starred{/owner}{/repo}',
   'subscriptions_url': 'https://api.github.com/users/mroeschke/subscriptions',
   'organizations_url': 'https://api.github.com/users/mroeschke/orgs',
   'repos_url': 'https://api.github.com/users/mroeschke/repos',
   'events_url': 'https://api.github.com/users/mroeschke/events{/privacy}',
   'received_events_url': 'https://api.github.com/users/mroeschke/received_events',
   'type': 'User',
   'site_admin': False},
  'labels': [{'id': 76812,
    'node_id': 'MDU6TGFiZWw3NjgxMg==',
    'url': 'https://api.github.com/repos/pandas-dev/pandas/labels/Enhancement',
    'name': 'Enhancement',
    'color': '4E9A06',
    'default': False,
    'description': None},
   {'id': 1045950827,
    'node_id': 'MDU6TGFiZWwxMDQ1OTUwODI3',
    'url': 'https://api.github.com/repos/pandas-dev/pandas/labels/Window',
    'name': 'Window',
    'color': 'd4c5f9',
    'default': False,
    'description': 'rolling, ewma, expanding'}],
  'state': 'open',
  'locked': False,
  'assignee': None,
  'assignees': [],
  'milestone': None,
  'comments': 1,
  'created_at': '2020-06-17T05:21:43Z',
  'updated_at': '2020-06-17T05:29:25Z',
  'closed_at': None,
  'author_association': 'MEMBER',
  'active_lock_reason': None,
  'pull_request': {'url': 'https://api.github.com/repos/pandas-dev/pandas/pulls/34839',
   'html_url': 'https://github.com/pandas-dev/pandas/pull/34839',
   'diff_url': 'https://github.com/pandas-dev/pandas/pull/34839.diff',
   'patch_url': 'https://github.com/pandas-dev/pandas/pull/34839.patch'},
  'body': '- [ ] tests added / passed\r\n- [x] passes `black pandas`\r\n- [ ] passes `git diff upstream/master -u -- "*.py" | flake8 --diff`\r\n- [ ] whatsnew entry\r\n\r\n\r\nThis enhancement allows EWMA to be calculated relative to the timestamp in which an observation occurs instead of assuming each observation is equally spaced.'},
 {'url': 'https://api.github.com/repos/pandas-dev/pandas/issues/34837',
  'repository_url': 'https://api.github.com/repos/pandas-dev/pandas',
  'labels_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/34837/labels{/name}',
  'comments_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/34837/comments',
  'events_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/34837/events',
  'html_url': 'https://github.com/pandas-dev/pandas/pull/34837',
  'id': 640089205,
  'node_id': 'MDExOlB1bGxSZXF1ZXN0NDM1NTYxODg3',
  'number': 34837,
  'title': 'REF: implement _shared_docs to de-circularize dependencies',
  'user': {'login': 'jbrockmendel',
   'id': 8078968,
   'node_id': 'MDQ6VXNlcjgwNzg5Njg=',
   'avatar_url': 'https://avatars1.githubusercontent.com/u/8078968?v=4',
   'gravatar_id': '',
   'url': 'https://api.github.com/users/jbrockmendel',
   'html_url': 'https://github.com/jbrockmendel',
   'followers_url': 'https://api.github.com/users/jbrockmendel/followers',
   'following_url': 'https://api.github.com/users/jbrockmendel/following{/other_user}',
   'gists_url': 'https://api.github.com/users/jbrockmendel/gists{/gist_id}',
   'starred_url': 'https://api.github.com/users/jbrockmendel/starred{/owner}{/repo}',
   'subscriptions_url': 'https://api.github.com/users/jbrockmendel/subscriptions',
   'organizations_url': 'https://api.github.com/users/jbrockmendel/orgs',
   'repos_url': 'https://api.github.com/users/jbrockmendel/repos',
   'events_url': 'https://api.github.com/users/jbrockmendel/events{/privacy}',
   'received_events_url': 'https://api.github.com/users/jbrockmendel/received_events',
   'type': 'User',
   'site_admin': False},
  'labels': [],
  'state': 'open',
  'locked': False,
  'assignee': None,
  'assignees': [],
  'milestone': None,
  'comments': 0,
  'created_at': '2020-06-17T02:20:16Z',
  'updated_at': '2020-06-17T02:20:16Z',
  'closed_at': None,
  'author_association': 'MEMBER',
  'active_lock_reason': None,
  'pull_request': {'url': 'https://api.github.com/repos/pandas-dev/pandas/pulls/34837',
   'html_url': 'https://github.com/pandas-dev/pandas/pull/34837',
   'diff_url': 'https://github.com/pandas-dev/pandas/pull/34837.diff',
   'patch_url': 'https://github.com/pandas-dev/pandas/pull/34837.patch'},
  'body': 'A side effect of this is that a bunch of pd.concat imports can be done at import-time instead of at runtime, will do this in a separate pass.'},
 {'url': 'https://api.github.com/repos/pandas-dev/pandas/issues/34836',
  'repository_url': 'https://api.github.com/repos/pandas-dev/pandas',
  'labels_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/34836/labels{/name}',
  'comments_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/34836/comments',
  'events_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/34836/events',
  'html_url': 'https://github.com/pandas-dev/pandas/issues/34836',
  'id': 640061196,
  'node_id': 'MDU6SXNzdWU2NDAwNjExOTY=',
  'number': 34836,
  'title': 'ENH: Splitting datetime events in a df based on a datetime interval ',
  'user': {'login': 'JackNelson',
   'id': 21087408,
   'node_id': 'MDQ6VXNlcjIxMDg3NDA4',
   'avatar_url': 'https://avatars0.githubusercontent.com/u/21087408?v=4',
   'gravatar_id': '',
   'url': 'https://api.github.com/users/JackNelson',
   'html_url': 'https://github.com/JackNelson',
   'followers_url': 'https://api.github.com/users/JackNelson/followers',
   'following_url': 'https://api.github.com/users/JackNelson/following{/other_user}',
   'gists_url': 'https://api.github.com/users/JackNelson/gists{/gist_id}',
   'starred_url': 'https://api.github.com/users/JackNelson/starred{/owner}{/repo}',
   'subscriptions_url': 'https://api.github.com/users/JackNelson/subscriptions',
   'organizations_url': 'https://api.github.com/users/JackNelson/orgs',
   'repos_url': 'https://api.github.com/users/JackNelson/repos',
   'events_url': 'https://api.github.com/users/JackNelson/events{/privacy}',
   'received_events_url': 'https://api.github.com/users/JackNelson/received_events',
   'type': 'User',
   'site_admin': False},
  'labels': [{'id': 76812,
    'node_id': 'MDU6TGFiZWw3NjgxMg==',
    'url': 'https://api.github.com/repos/pandas-dev/pandas/labels/Enhancement',
    'name': 'Enhancement',
    'color': '4E9A06',
    'default': False,
    'description': None},
   {'id': 1954720290,
    'node_id': 'MDU6TGFiZWwxOTU0NzIwMjkw',
    'url': 'https://api.github.com/repos/pandas-dev/pandas/labels/Needs%20Triage',
    'name': 'Needs Triage',
    'color': '0052cc',
    'default': False,
    'description': 'Issue that has not been reviewed by a pandas team member'}],
  'state': 'open',
  'locked': False,
  'assignee': None,
  'assignees': [],
  'milestone': None,
  'comments': 0,
  'created_at': '2020-06-17T00:53:04Z',
  'updated_at': '2020-06-17T00:55:16Z',
  'closed_at': None,
  'author_association': 'NONE',
  'active_lock_reason': None,
  'body': '#### Is your feature request related to a problem?\r\nI have transaction data, where events start at a given point in time and then end at a given point in time.  In order to see what events are ongoing over the course of time as well as allocate time to a specified time interval, multiple rows need to be made indicating that an event is still ongoing if it spans greater than the time interval specified. (i.e. if a row starts on Monday and ends on Wednesday and my time interval is 1 day, there needs to be 3 rows, 1 for when the event began on Monday then ending at just before midnight, 1 for Tuesday at midnight ending just before the following midnight, and 1 for Wednesday at midnight to the event end time.\r\n\r\nIt would be nice if given a dataframe and indicating start column, end column, and time interval, a method returned a dataframe that made those necessary cuts and filled in the gaps with extra rows.   \r\n\r\n#### Describe the solution you\'d like\r\n\r\n\r\n```\r\ndef split_events(self, start, end, freq, show_event_id=False):\r\n    """\r\n        Takes properly formatted pandas.DataFrame of events and adds rows for\r\n        events that cross into multiple intervals so each row falls under one interval\r\n\r\n        Args:\r\n            start (str): name of start datetime.datetime formatted column\r\n            stop (str): name of end datetime.datetime formatted column\r\n            freq (str): frequency string\r\n            show_event_id (bool): adding id column for reverse mapping  \r\n\r\n        Returns:\r\n            pandas.DataFrame: formatted where events that cross over into multiple\r\n                                            intervals are separated into separate events\r\n    """\r\n\r\n>>> df = pd.DataFrame([[\'2020-06-01 08:06:00\', \'2020-06-01 09:14:00\', \'bar\'],\r\n...                 columns=[\'start\', \'end\', \'foo\'])  \r\n\r\n>>> df\r\n     start                  stop                  foo\r\n0  \'2020-06-01 08:06:00\'  \'2020-06-01 09:14:00\'  bar\r\n\r\n>>> df.split_events(start=\'start\', end=\'end\', freq=\'30m\')\r\n     start                  stop                  foo\r\n0  \'2020-06-01 08:06:00\'  \'2020-06-01 08:30:00\'  bar\r\n1  \'2020-06-01 08:30:00\'  \'2020-06-01 09:00:00\'  bar\r\n2  \'2020-06-01 09:00:00\'  \'2020-06-01 09:14:00\'  bar\r\n\r\n>>> df.split_events(start=\'start\', end=\'end\', freq=\'30m\', show_event_id=True)\r\n    id   start                  stop                   foo\r\n0    0  \'2020-06-01 08:06:00\'  \'2020-06-01 08:30:00\'  bar\r\n1    0  \'2020-06-01 08:30:00\'  \'2020-06-01 09:00:00\'  bar\r\n2    0  \'2020-06-01 09:00:00\'  \'2020-06-01 09:14:00\'  bar\r\n```\r\n\r\n#### API breaking implications\r\nI see this as a standalone method so I don\'t believe it would affect the API\r\n\r\n#### Describe alternatives you\'ve considered\r\nSearched exhaustively for similar methods that will accomplish this task and have been unable to find an existing solution.  Interpolate comes close but depends on a reference column, in this instance our reference is a specified time interval.\r\n\r\nThe following link also seems to have functionality that can be leveraged to accomplish the problem but I haven\'t been able to find anything straightforward ([link](https://pandas.pydata.org/pandas-docs/stable/user_guide/timeseries.html#timeseries-offset-aliases))\r\n\r\n\r\n#### Additional context\r\n\r\nProbably more computational intensive than it needs to be but this is a function I have been using to split events by day.  One of the reasons it is done in this fashion is to make sure any additional columns passed in the df are also replicated for each row.\r\n\r\n```python\r\nimport pandas as pd\r\nimport numpy as np\r\nfrom datetime import datetime, timedelta\r\n\r\ndef split_events_by_day(df, start=\'DateTimeStart\', stop=\'DateTimeEnd\'):\r\n    """\r\n        Takes properly formatted pandas.DataFrame of events and adds rows for\r\n        events that cross into multiple days so each row falls under same day\r\n\r\n        Args:\r\n            df (pandas.DataFrame): formatted with start and stop columns formatted\r\n                                                  as datetime.datetime\r\n            start (str): name of start datetime.datetime formatted column\r\n            stop (str): name of stop datetime.datetime formatted column\r\n\r\n        Returns:\r\n            pandas.DataFrame: formatted where events that cross over into multiple\r\n                                            days are separated into separate events, an\r\n                                            \'event_id\' is added for reverse mapping\r\n    """\r\n\xa0\r\n    df[\'event_id\'] = np.arange(len(df)) # add indexing col for events\r\n \xa0\r\n    for index, row in df.iterrows():\r\n\r\n        row = row.copy() # making copy of row for editing\r\n\r\n        # testing if event that starts and stops in the same day\r\n        if (row[start].date()) == (row[stop].date()):\r\n            pass # leave row as is\r\n\xa0\r\n        # testing if event that stops on a different day than it started\r\n        else:\r\n            # number of calendar days in timespan\r\n            days = (\r\n                row[stop].replace(hour=0,minute=0,second=0 \r\n                - row[start].replace(hour=0,minute=0,second=0)\r\n            ).days\r\n\r\n            next_day = (\r\n                row[start].replace(hour=0,minute=0,second=0)\r\n                + timedelta(days=1)\r\n            )\r\n\r\n            stop_time = row[stop]\r\n\r\n            # assigning start calendar day cut to current row being evaluated\r\n            df.at[index, stop] = next_day\r\n\r\n            # adding rows for each calendar day in timespan not on start/stop\r\n            # calendar day\r\n            while days > 1:\r\n                row = row.copy()\r\n                row[start] = next_day\r\n                next_day += timedelta(days=1)\r\n                row[stop] = next_day\r\n                df = df.append(row)\r\n                days -= 1\r\n\r\n            row[start] = next_day\r\n            row[stop] = stop_time\r\n\r\n            # adding row for stop calendar day cut to current row being\r\n            # evaluated\r\n            df = df.append(row)\r\n\r\n    return df\r\n\r\n```\r\n'},
 {'url': 'https://api.github.com/repos/pandas-dev/pandas/issues/34835',
  'repository_url': 'https://api.github.com/repos/pandas-dev/pandas',
  'labels_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/34835/labels{/name}',
  'comments_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/34835/comments',
  'events_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/34835/events',
  'html_url': 'https://github.com/pandas-dev/pandas/pull/34835',
  'id': 640041071,
  'node_id': 'MDExOlB1bGxSZXF1ZXN0NDM1NTIzNTU2',
  'number': 34835,
  'title': 'Replaced np.bool refs; fix CI failure',
  'user': {'login': 'WillAyd',
   'id': 609873,
   'node_id': 'MDQ6VXNlcjYwOTg3Mw==',
   'avatar_url': 'https://avatars0.githubusercontent.com/u/609873?v=4',
   'gravatar_id': '',
   'url': 'https://api.github.com/users/WillAyd',
   'html_url': 'https://github.com/WillAyd',
   'followers_url': 'https://api.github.com/users/WillAyd/followers',
   'following_url': 'https://api.github.com/users/WillAyd/following{/other_user}',
   'gists_url': 'https://api.github.com/users/WillAyd/gists{/gist_id}',
   'starred_url': 'https://api.github.com/users/WillAyd/starred{/owner}{/repo}',
   'subscriptions_url': 'https://api.github.com/users/WillAyd/subscriptions',
   'organizations_url': 'https://api.github.com/users/WillAyd/orgs',
   'repos_url': 'https://api.github.com/users/WillAyd/repos',
   'events_url': 'https://api.github.com/users/WillAyd/events{/privacy}',
   'received_events_url': 'https://api.github.com/users/WillAyd/received_events',
   'type': 'User',
   'site_admin': False},
  'labels': [],
  'state': 'open',
  'locked': False,
  'assignee': None,
  'assignees': [],
  'milestone': None,
  'comments': 1,
  'created_at': '2020-06-16T23:48:06Z',
  'updated_at': '2020-06-17T02:05:40Z',
  'closed_at': None,
  'author_association': 'MEMBER',
  'active_lock_reason': None,
  'pull_request': {'url': 'https://api.github.com/repos/pandas-dev/pandas/pulls/34835',
   'html_url': 'https://github.com/pandas-dev/pandas/pull/34835',
   'diff_url': 'https://github.com/pandas-dev/pandas/pull/34835.diff',
   'patch_url': 'https://github.com/pandas-dev/pandas/pull/34835.patch'},

In [15]:
issues = pd.DataFrame(data, columns=['number', 'title',
                                     'labels', 'state'])
issues

,number,title,labels,state
0,34840,ENH: Use of NamedTuple instead of Tuple for Mu...,"[{'id': 76812, 'node_id': 'MDU6TGFiZWw3NjgxMg=...",open
1,34839,WIP: ENH: Add support for calculating EWMA wit...,"[{'id': 76812, 'node_id': 'MDU6TGFiZWw3NjgxMg=...",open
2,34837,REF: implement _shared_docs to de-circularize ...,[],open
3,34836,ENH: Splitting datetime events in a df based o...,"[{'id': 76812, 'node_id': 'MDU6TGFiZWw3NjgxMg=...",open
4,34835,Replaced np.bool refs; fix CI failure,[],open
5,34834,ENH: remove restrictions to numexpr to allow ...,"[{'id': 76812, 'node_id': 'MDU6TGFiZWw3NjgxMg=...",open
6,34833,BUG: resample seems to convert hours to 00:00,"[{'id': 76811, 'node_id': 'MDU6TGFiZWw3NjgxMQ=...",open
7,34832,BUG: Inconsistent Column Typing For A Series C...,"[{'id': 76811, 'node_id': 'MDU6TGFiZWw3NjgxMQ=...",open
8,34831,CLN: GH29547 change string formatting with f-s...,[],open
9,34830,"REF: move registry, Registry to dtypes.base",[],open
10,34829,Add support for gitpod,[],open
11,34827,BUG fix _Unstacker int32 limit in dataframe si...,"[{'id': 13098779, 'node_id': 'MDU6TGFiZWwxMzA5...",open
12,34825,"BUG: pd.concat(..., copy=False) still causes c...","[{'id': 76811, 'node_id': 'MDU6TGFiZWw3NjgxMQ=...",open
13,34824,DOC: to_sql accepting Engine vs. Connectable,"[{'id': 134699, 'node_id': 'MDU6TGFiZWwxMzQ2OT...",open
14,34823,ENH: Pass arguments to `to_pandas` in `read_cs...,"[{'id': 76812, 'node_id': 'MDU6TGFiZWw3NjgxMg=...",open
15,34822,BUG: setting raw=True in the Dataframe.apply f...,"[{'id': 76811, 'node_id': 'MDU6TGFiZWw3NjgxMQ=...",open
16,34821,"BUG: read_excel(engine='openpyxl') with ""unsiz...","[{'id': 76811, 'node_id': 'MDU6TGFiZWw3NjgxMQ=...",open
17,34820,BUG: Slicing on non-monotonic DatetimeIndex in...,"[{'id': 76811, 'node_id': 'MDU6TGFiZWw3NjgxMQ=...",open
18,34814,ENH: add masked algorithm for mean() function ...,"[{'id': 849023693, 'node_id': 'MDU6TGFiZWw4NDk...",open
19,34812,BUG: apply() fails on some value types,"[{'id': 697792067, 'node_id': 'MDU6TGFiZWw2OTc...",open
20,34811,BUG: reading line-format JSON from file url #2...,"[{'id': 49379259, 'node_id': 'MDU6TGFiZWw0OTM3...",open
21,34810,API: Allow non-tuples in pandas.merge,"[{'id': 13098779, 'node_id': 'MDU6TGFiZWwxMzA5...",open
22,34809,Inconsistent output in GroupBy.apply returning...,"[{'id': 77550281, 'node_id': 'MDU6TGFiZWw3NzU1...",open
23,34805,BUG: Inconsistent behavior for isin() over col...,"[{'id': 76811, 'node_id': 'MDU6TGFiZWw3NjgxMQ=...",open
24,34801,Check API changes in whatsnew,"[{'id': 77550281, 'node_id': 'MDU6TGFiZWw3NzU1...",open
25,34799,ENH: At top-level dataframe function for singl...,"[{'id': 1465286368, 'node_id': 'MDU6TGFiZWwxND...",open
26,34798,API: Make describe changes backwards compatible,"[{'id': 35818298, 'node_id': 'MDU6TGFiZWwzNTgx...",open
27,34792,"CI: test failure, raises unexpected warning","[{'id': 76811, 'node_id': 'MDU6TGFiZWw3NjgxMQ=...",open
28,34791,ENH: Inconsistency when string refers both to ...,"[{'id': 76812, 'node_id': 'MDU6TGFiZWw3NjgxMg=...",open
29,34790,BUG: `DataFrame.to_parquet` does not correctly...,"[{'id': 76811, 'node_id': 'MDU6TGFiZWw3NjgxMQ=...",open

# Interacting with Databases

In [16]:
import sqlite3
#connecting with the database.
db = sqlite3.connect("my_database4.db")
# Drop table if it already exist using execute() method.
db.execute("drop table if exists test")
query = """
CREATE TABLE test
(a VARCHAR(20), b VARCHAR(20),
 c REAL,        d INTEGER
);"""
con = sqlite3.connect('mydata2.sqlite')
con.execute(query)
con.commit()

In [17]:
data = [('Atlanta', 'Georgia', 1.25, 6),
        ('Tallahassee', 'Florida', 2.6, 3),
        ('Sacramento', 'California', 1.7, 5)]
stmt = "INSERT INTO test VALUES(?, ?, ?, ?)"
con.executemany(stmt, data)
con.commit()

In [18]:
cursor = con.execute('select * from test')
rows = cursor.fetchall()
rows

[('Atlanta', 'Georgia', 1.25, 6),
 ('Tallahassee', 'Florida', 2.6, 3),
 ('Sacramento', 'California', 1.7, 5)]

In [19]:
cursor.description
pd.DataFrame(rows, columns=[x[0] for x in cursor.description])

             a           b     c  d
0      Atlanta     Georgia  1.25  6
1  Tallahassee     Florida  2.60  3
2   Sacramento  California  1.70  5

In [20]:
#!/usr/bin/python

import sqlite3
#connecting with the database.
db = sqlite3.connect("my_database5.db")
# Drop table if it already exist using execute() method.
db.execute("drop table if exists grades1")
# Create table as per requirement
db.execute("create table grades1(id int, name text, score int)")
#inserting values inside the created table
db.execute("insert into grades1(id, name, score) values(101, 'John',99 )")
db.execute("insert into grades1(id, name, score) values(102, 'Gary',90 )")
db.execute("insert into grades1(id, name, score) values(103, 'James', 80 )")
db.execute("insert into grades1(id, name, score) values(104, 'Cathy', 85 )")
db.execute("insert into grades1(id, name, score) values(105, 'Kris',95 )")

In [21]:
db.commit()

In [160]:
results = db.execute("select * from grades1 order by id")
for row in results:
    print((row))
print("-" * 60 )

(101, 'John', 99)
(102, 'Gary', 90)
(103, 'James', 80)
(104, 'Cathy', 85)
(105, 'Kris', 95)
------------------------------------------------------------

In [161]:
results = db.execute("select * from grades1 where name = 'Gary' ")
for row in results: print(row)
print("-"* 60 )

(102, 'Gary', 90)
------------------------------------------------------------

In [162]:
results = db.execute("select * from grades1 where score >= 90 ")
for row in results:
    print(row)
print("-" * 60 )

(101, 'John', 99)
(102, 'Gary', 90)
(105, 'Kris', 95)
------------------------------------------------------------

In [163]:
results = db.execute("select name, score from grades1 order by score desc ")
for row in results:
    print(row)
print("-" * 60 )

('John', 99)
('Kris', 95)
('Gary', 90)
('Cathy', 85)
('James', 80)
------------------------------------------------------------

In [164]:
results = db.execute("select name, score from grades1 order by score")
for row in results:
    print(row)
print("-" * 60 )

('James', 80)
('Cathy', 85)
('Gary', 90)
('Kris', 95)
('John', 99)
------------------------------------------------------------

In [67]:
results = db.execute("select name, score from grades1 order by score")
for row in results:
    print(row)

('James', 80)
('Cathy', 85)
('Gary', 90)
('Kris', 95)
('John', 99)